# Firebase project configuration
FIREBASE_CREDENTIALS_PATH=serviceAccountKey.json
PROJECT_ID=your-project-id-here

# Development mode (Set to development to skip Firebase Auth token verification for mock riders)
ENVIRONMENT=development